body{
    margin: 0;
    min-height: 100vh;
    background-image: url("../Img/CoolerBeach.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color:white;
}
body::before{
    content:"";
    position:fixed;
    inset:0;
    background:rgba(120, 120, 120, 0.25);
    z-index:-1;
}
.logo img {
    width: 100px;
    height: auto;
    margin-right: 260px;
    margin-left: 20px;
}
.logo {
    height: 120px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background: linear-gradient(
        to bottom,
        rgb(77, 107, 149),
        rgb(45, 73, 112)
    );
    border-radius: 0 0 20px 20px;
}

.logo h2 {
    color: white;
    font-size: 70px;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    justify-content: center;
    letter-spacing: 2px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
.nav-links {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(
        to bottom,
        rgb(77, 107, 149),
        rgb(45, 73, 112)
    );
    padding: 10px 0;
    border-radius: 20px;
    color: white;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
.nav-links a{
    color: white;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;                 
    gap: 20px;
    font-family: 'Quicksand', sans-serif;  
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);                
}
.container h1{
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
.texto {
    background: linear-gradient(
        to bottom,
        rgb(77, 107, 149),
        rgb(45, 73, 112)
    );
    border-radius: 20px;
    padding: 30px;
    color : rgb(255, 255, 255);
    font-size: 18px;
    width: 35%;
}
.texto .contato {
    justify-self: center;
    padding-bottom: 15px;
    text-align: justify;
}
.formulario {
    background: linear-gradient(
        to bottom,
        rgb(77, 107, 149),
        rgb(45,73,112)
    );
    width: 500px;
    border-radius: 20px;
    padding: 30px;
    height: auto;
    flex-direction: column;
    display: flex;
    text-align: center;
}
.formulario-preenchivel {
    background: linear-gradient(
        to bottom,
        rgb(77, 107, 149),
        rgb(45,73,112)
    );
    width: auto;
    border-radius: 20px;
    padding: 30px;
    height: auto;
    flex-direction: column;
    display: flex;
}
.formulario-preenchivel input, .formulario-preenchivel textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}
.formulario-preenchivel label {
    font-family: 'Quicksand', sans-serif;
    padding-top: 10px;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.formulario-preenchivel button{
    margin-top:10px;
    padding:14px;
    border:none;
    border-radius:12px;
    background:rgb(16, 35, 63);
    color:white;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}
.formulario-preenchivel button:hover{
    background:rgb(35, 109, 156);
    transform:translateY(-2px);
}
.formulario-preenchivel button:active{
    transform:scale(.98);
}